
@font-face {
    font-family: "MC-Regular";
    src: url("font/MinecraftRegular.otf");
}

@font-face {
    font-family: "MC-Bold";
    src: url("font/MinecraftBold.otf");
}

@font-face {
    font-family: "MC-Italic";
    src: url("font/MinecraftItalic.otf");
}

@font-face {
    font-family: "MC-Bold-Italic";
    src: url("font/MinecraftBoldItalic.otf");
}

@media (min-device-width:320px) and (max-device-width:768px) {
    html, body {
        zoom: 115%;
    }
    table {
        zoom: 125%;
    }
    .header {
        zoom: 150%;
    }
    .msg {
        zoom: 200%;
    }
}

html, body {
    zoom: 110%;
    margin: 0px;
    font-family: MC-Regular, MC-Bold, MC-Italic, MC-Bold-Italic;
    font-size: 1rem;
    background-size: 120%;
    background-image: url("background.png");
    background-position: top center;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px 5px;
    font-family: MC-Bold;
    font-weight: normal;
    text-shadow: 0px 0px 10px #FFFFFF60;
}

p {
    margin: 0px;
}

i {
    font-family: MC-Italic;
    font-weight: normal;
}

b, strong, em {
    font-family: MC-Bold;
    font-weight: normal;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 5px;
}

code {
    background: #444;
    padding: 2px 6px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px #00000030;
}

code.ip:hover {
    cursor: pointer;
    background: #323232;
}

ul {
    margin: 0px;
    list-style-type: square;
}

table {
    margin: 0px 0px 0px 21px;
}

td {
    padding: 2px;
    min-width: 210px;
}

label {
    font-size: 14px;
    font-family: MC-Italic;
    color: #828282
}

header {
    background: #25252540;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px 5px #00000040;
    display: flex;
    align-items: center;
}

header > div {
    margin: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #FFFFFF40;
}

.title-text {
    font-size: 35px;
    font-family: MC-Bold;
    color: #FFFFFF;
    text-shadow: none;
}

.discord-social, .reddit-social {
    border-radius: 5px;
}

.discord-social:hover {
    box-shadow: 0px 0px 10px 5px #5662F640;
}

.reddit-social:hover {
    box-shadow: 0px 0px 10px 5px #FF450040;
}

.indented {
    margin: 0px 0px 0px 25px;
}

.small-text {
    font-size: 12px;
    font-family: MC-Italic;
    color: #828282
}

.screenshots-link {
    cursor: pointer;
    color: #FFFFFF;
}

.screenshots-link:hover {
    text-decoration: underline;
    text-shadow: none;
}

.wrapper {
    width: 50vw;
    min-width: 600px;
    margin: 60px auto;
    padding: 20px;
    background: #25252540;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px 5px #00000040;
    border-radius: 10px;
}

.msg {
    background: #25252540;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px 5px #00000040;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 300px;
    max-width: calc(100vw - 20px);
    padding: 20px;
    border-radius: 10px;
}

div.images > img {
    margin: 10px 5px 0px 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00000040;
}

.indented {
    margin: 0px 0px 0px 25px;
}

.back-to-main {
    cursor: pointer;
    color: #FFFFFF;
}

.back-to-main:hover {
    text-decoration: underline;
    text-shadow: none;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    margin: auto 20px;
    padding: auto;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.page-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: auto;
    min-width: 80px;
    cursor: pointer;
    color: #FFFFFF;
}

.page-link:hover {
    text-decoration: underline;
    text-shadow: none;
}

.page-link-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: auto;
    min-width: 80px;
    cursor: pointer;
    text-decoration: underline;
    color: #777777;
}

.page-link-active:hover {
    text-shadow: none;
}

.announcement > i {
    font-size: 0.75rem;
}

.announcement > ul {
    padding-left: 20px;
}

hr {
    size: 2px;
    width: 100%;
    color: white;
}
