/* Mazarca Admin GUI section */
.sidebar {
    padding: 0px;
    background: #343434;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar-nav > a {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0px;
    padding: 0px 0px 0px 15px;
    height: 40px;
    cursor: pointer;
    color: #ffffff;
}

.sidebar-nav > a:hover {
    text-shadow: none;
    background: #2e2e2e;
}

.sidebar-nav > a.active {
    background: #2e2e2e;
}

.console {
    margin: 0px;
    padding: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #000000;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 10px 5px #00000040;
    font-family: monospace;
    font-size: 1rem;
    overflow-x: auto;
    overflow-y: auto;
    min-width: 0px;
}

.console pre {
    margin: 0px;
    white-space: pre-wrap;
    overflow-x: auto;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    word-break: break-all;
    overflow-wrap: normal;
    scrollbar-width: thin;
    scrollbar-color: #323232 black;
    font-size: 11px;
}

.footer {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

select, option {
    padding: 5px;
    font-family: MC-Regular;
    color: #ffffff;
    background: #303030;
    border: 2px solid white;
    border-radius: 5px;
}

select {
    background: #00000000;
}

pre {
    margin: 0px;
    width: 100%;
}

.playerlist {
    margin: 0px;
    font-size: 20px;
}

.playerlist > .playerlist-row {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.playername, .kick, .ban {
    width: fit-content;
}

.kick { background: #ffaa00 }
.kick:hover { background: #7f5605 }
.ban { background: #ff0000 }
.ban:hover { background: #7c0505 }

#nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px;
}

#nav-btn img, #nav-btn svg {
    display: block;
    margin: 0 auto;
}