@font-face {
    font-family: "MC-Regular";
    src: url("../font/MinecraftRegular.otf");
}

@font-face {
    font-family: "MC-Bold";
    src: url("../font/MinecraftBold.otf");
}

@font-face {
    font-family: "MC-Italic";
    src: url("../font/MinecraftItalic.otf");
}

@font-face {
    font-family: "MC-Bold-Italic";
    src: url("../font/MinecraftBoldItalic.otf");
}

@media (max-device-width:768px) {
    html, body { zoom: 115% !important }
    table { zoom: 125% !important }
    .header { zoom: 150% !important }
    .msg { zoom: 200% !important }
}

@keyframes splash {
    from { font-size: 13px }
    50% { font-size: 14px }
    to { font-size: 13px }
}

html, body {
    zoom: 110%;
    margin: 0px;
    font-family: MC-Regular, MC-Bold, MC-Italic, MC-Bold-Italic;
    font-size: 1rem;
    background-size: 120%;
    background-image: url("../background.png");
    background-position: top center;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px 5px;
    font-family: MC-Bold;
    font-weight: normal;
    text-shadow: 0px 0px 10px #FFFFFF60;
}

main > h1:first-of-type,
main > h2:first-of-type,
main > h3:first-of-type,
main > h4:first-of-type,
main > h5:first-of-type,
main > h6:first-of-type {
    margin-top: 0px;
}

p { margin: 0px }

i {
    font-family: MC-Italic;
    font-style: normal;
}

b, strong, em {
    font-family: MC-Bold;
    font-style: normal;
}

a {
    color: orange;
    text-decoration: none;
    text-shadow: none
}

a:hover { text-shadow: 0px 0px 5px }

blockquote {
    margin: 10px;
    padding: 10px;
    background-color: #3E3E3E;
    border-radius: 10px;
}

code {
    font-size: 0.85rem;
    background: #444;
    padding: 2px 6px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px #00000030;
}

code:hover {
    cursor: pointer;
    background: #323232;
}

ul {
    margin: 0px 0px 0px 10px;
    padding-left: 20px;
    list-style-type: square;
}

ol {
    margin: 0px 0px 0px 10px;
    padding-left: 20px;
}

table { margin: 0px 0px 0px 21px }

td {
    padding: 2px;
    min-width: 260px;
}

label {
    font-size: 14px;
    font-family: MC-Italic;
    color: #828282
}

small {
    font-size: 12px;
    font-family: MC-Italic;
    color: #828282
}

details { font-family: MC-Regular }
details > summary { font-family: MC-Regular }

header {
    position: sticky;
    top: 0px;
    z-index: 1000;
    padding: 10px 20px;
    background: #25252540;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px 5px #00000040;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #55555560;
}

header > div { margin: 0px }

hr {
    size: 2px;
    width: 100%;
    color: white;
}

input, textarea {
    margin: 0px;
    padding: 5px;
    width: calc(100% - 10px);
    resize: none;
    font-family: MC-Regular;
    font-size: 0.95rem;
    color: #DADADA;
    background-color: #3E3E3E;
    outline: none;
    border: none;
    border-radius: 10px;
}

input:hover, textarea:hover {
    background-color: #424242;
    outline: none;
}

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
    background-color: #3b3b3b;
    outline: none;
}

input:focus, textarea:focus {
    background-color: #4F4F4F;
    outline: none;
}

textarea {
    min-height: 5rem;
    resize: vertical;
}

.form {
    width: 100%;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form > div { width: 100% }

button {
    margin: 0px;
    padding: 7px 8px 5px 8px;
    border: none;
    border-radius: 10px;
    font-family: MC-Regular;
    font-size: 0.95rem;
    color: #FFFFFF;
    cursor: pointer;
}

.primary { background-color: #d9833e }
.primary:hover { background-color: #734118 }
.secondary { background-color: #3e3e3e }
.secondary:hover { background-color: #383838 }

button:disabled { cursor: default; background-color: #3e3e3e; color: gray }
button:disabled:hover { background-color: #3e3e3e }

.buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    gap: 10px;
}

.logo {
    border-radius: 5px;
    box-shadow: 0px 0px 10px #00000035;
}

.title-text {
    font-size: 35px;
    font-family: MC-Bold;
    color: #FFFFFF;
    text-shadow: none;
}

.discord-social, .reddit-social { border-radius: 5px }

.discord-social:hover { box-shadow: 0px 0px 10px 5px #5662F640 }

.reddit-social:hover { box-shadow: 0px 0px 10px 5px #FF450040 }

.indented { margin: 0px 0px 0px 25px }
.semi-indented { margin: 0px 0px 0px 10px }

.screenshots-link {
    cursor: pointer;
    color: #FFFFFF;
}

.screenshots-link:hover {
    text-decoration: underline;
    text-shadow: none;
}

.wrapper {
    width: calc(100% - 80px);
    max-width: 700px;
    margin: 60px auto;
    padding: 20px;
    background: #25252540;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px 5px #00000040;
    border-radius: 10px;
    border: 1px solid #55555560;
}

.wrapper-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #55555560;
}

.wrapper-full {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    max-width: unset;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 1px solid #55555560;
}

.msg {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #25252540;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px 5px #00000040;
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 300px;
    max-width: calc(100vw - 20px);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #55555560;
}

div.images > img {
    margin: 10px 5px 0px 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00000040;
}

.indented { margin: 0px 0px 0px 25px }

.back-to-main {
    cursor: pointer;
    color: #FFFFFF;
}

.back-to-main:hover {
    text-decoration: underline;
    text-shadow: none;
}

.image-row {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #323232;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px #00000040;
    overflow: hidden;
    width: 100%;
}

.image-container > img { cursor: pointer }

.image-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(2px);
    background: #00000075;
    text-shadow: 1px 1px 3px #000000;
    width: calc(100% - 20px);
    padding: 5px 10px;
    text-align: left;
}

.nav {
    display: none;
    position: fixed;
    top: 50px;
    left: 20px;
    padding: 0px;
    background: #343434;
    box-shadow: 1px 1px 10px 5px #00000040;
    border-radius: 10px;
    border: 1px solid #55555560;
    font-size: 1rem;
    width: 175px;
    overflow: hidden;
    z-index: 1001;
}

.nav > a {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0px;
    padding: 0px 0px 0px 15px;
    height: 40px;
    cursor: pointer;
    color: #ffffff;
}

.nav > a:hover {
    text-shadow: none;
    background: #2e2e2e;
}

.nav > a.active { background: #2e2e2e }
nav:hover { cursor: pointer }

a.page-link {
    color: #ffffff;
    cursor: pointer;
}

a.page-link:hover {
    text-decoration: underline;
    color: gray;
    text-shadow: none;
}

/*.announcement-collapsed {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.announcement-collapsed:hover { -webkit-line-clamp: unset }*/

/*.announcement > summary { line-height: 30px }*/
.announcement > summary > i { font-size: 0.75rem }
.announcement > div { margin-left: 5px }

.splash {
    position: absolute;
    top: 35px;
    left: 300px;
    width: 260px;
    text-align: center;
    text-shadow: 1px 1px 0px #00000090;
    color: #ffff55;
    transform: rotate(-10deg);
    animation-name: splash;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.no-margin { margin: 0px }
.no-padding { padding: 0px }
.w-100 { width: 100% }
.w-50 { width: 50% }
.d-flex { display: flex }
.text-left { text-align: left }
.text-center { text-align: center; }
.text-right { text-align: right }
.items-left { align-items: left }
.items-center { align-items: center }
.items-right { align-items: right }
.gap-10px { gap: 10px }
.flex-grow-1 { flex-grow: 1 }
.no-wrap { white-space: nowrap }

.font-regular { font-family: MC-Regular }
.font-bold { font-family: MC-Bold }
.font-italic { font-family: MC-Italic }
.font-bold-italic { font-family: MC-Bold-Italic }

section { margin: 20px 0px 0px }

.recipes {
    margin: 5px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    text-align: left;
}

.item-slot {
    position: relative;
    background: #8B8B8B no-repeat center center / 32px 32px;
    border: 2px solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.item-slot::before, .item-slot::after {
    content: "";
    position: absolute;
    background-color: #8B8B8B;
    height: 2px;
    width: 2px;
    pointer-events: none;
}

.item-slot::before {  bottom: -2px; left: -2px }
.item-slot::after { top: -2px; right: -2px }

.mcui {
    position: relative;
    background-color: #C6C6C6;
    border: 2px solid;
    border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
    padding: 6px;
    text-align: left;
    white-space: nowrap;
    vertical-align: bottom;
    height: fit-content;
}

.crafting-ui {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.slot-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.slot-row {
    display: flex;
    align-items: center;
}

.crafting-arrow {
    display: inline-block;
    background: url(https://minecraft.wiki/images/Grid_layout_Arrow_%28small%29.png?a4894) no-repeat;
    min-width: 32px;
    height: 26px;
}
